<div id="page" class="single">
    <div id="fh5co-aside" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="page-title">
            <img src="../assets/images/person_1.jpg">
            <span>{{post.createdTime}}</span>
            <h2 class="text-overflow">{{post.title}}</h2>
        </div>
    </div>
    <div id="fh5co-main-content">
        <div class="fh5co-post">
            <div class="fh5co-entry padding">
                <div>
                    {{post.content}}
                </div>
            </div>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>

<aside class="read-next">
    <div class="fh5co-navigation">
        <div class="fh5co-cover prev fh5co-cover-sm" >
            <div class="overlay"></div>
            <a *ngIf="prePost.id" class="copy" [routerLink]="['/details',prePost.id]">
                <div class="display-t">
                    <div class="display-tc">
                        <div>
                            <span>Previous Post</span>
                            <h2>{{prePost.title}}</h2>
                        </div>
                    </div>
                </div>
            </a>
            <div class="copy">
                <div class="display-t" *ngIf="!prePost.id">
                    <div class="display-tc">
                        <div>
                            <h2>None Previous</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="fh5co-cover next fh5co-cover-sm" style="background-image: url(../assets/images/project-5.jpg)">
            <div class="overlay"></div>
            <a class="copy" *ngIf="nextPost.id" [routerLink]="['/details',nextPost.id]">
                <div class="display-t">
                    <div class="display-tc" *ngIf="nextPost">
                        <div>
                            <span>Next Post</span>
                            <h2>{{nextPost.title}}</h2>
                        </div>
                    </div>
                </div>
            </a>
            <div class="copy">
                <div class="display-t" *ngIf="!nextPost.id">
                    <div class="display-tc">
                        <div>
                            <h2>None Next</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>